<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="buaa.course.mapper.CourseTeacherMapper">
	
	<resultMap id="courseTeacherMap" type="buaa.course.model.CourseTeacher">
		<id property="id" column="id" />
		<result property="semesterCourseId" column="semester_course_id" />
		<result property="teacherId" column="teacher_id" />
	</resultMap>
	<select id="getCourseTeacher" parameterType="int" resultMap="courseTeacherMap">
	    <![CDATA[
	    	select * from course_teacher where id = #{0}
	    ]]>
	</select>
	<insert id="addCourseTeacher" parameterType="buaa.course.model.CourseTeacher"  useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	    	insert into course_teacher (semester_course_id,teacher_id) values(#{semesterCourseId},#{teacherId})
	    ]]>
	</insert>
	<delete id="deleteCourseTeacher" parameterType="int">
		<![CDATA[
			delete from course_teacher where id=#{id}
		]]>
	</delete>
	<update id="updateCourseTeacher" parameterType="buaa.course.model.CourseTeacher">
	    <![CDATA[
	    	update course_teacher set semester_course_id=#{semesterCourseId},teacher_id=#{teacherId} where id=#{id}
	    ]]>
	</update>
	<select id="getAllCourseTeachers" resultMap="courseTeacherMap">
	    <![CDATA[
	    	select * from course_teacher
	    ]]>
	</select>
	<select id="countCourseTeachers" resultType="int">
	    <![CDATA[
	    	select count(*) from course_teacher
	    ]]>
	</select>
	<select id="getCourseTeachersByRange" resultMap="courseTeacherMap">
	    <![CDATA[
	    	select * from course_teacher limit #{0},#{1}
	    ]]>
	</select>
</mapper>