<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="buaa.course.mapper.HomeworkMapper">
	
	<resultMap id="homeworkMap" type="buaa.course.model.Homework">
		<id property="id" column="id" />
		<result property="semesterCourseId" column="semester_course_id" />
		<result property="studentId" column="student_id" />
		<result property="assignmentId" column="assignment_id" />
		<result property="text" column="text" />
		<result property="fileUrl" column="file_url" />
		<result property="score" column="score" />
		<result property="comment" column="comment" />
		<result property="submitTime" column="submit_time" />
	</resultMap>
	<select id="getHomework" parameterType="int" resultMap="homeworkMap">
	    <![CDATA[
	    	select * from homework where id = #{0}
	    ]]>
	</select>
	<select id="getHomeworkByAssignment" resultMap="homeworkMap">
	<![CDATA[
	    	select * from homework where assignment_id = #{0} and student_id = #{1}
	    ]]>
	</select>
	<insert id="addHomework" parameterType="buaa.course.model.Homework"  useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	    	insert into homework(semester_course_id,student_id,assignment_id,text,file_url,score,comment,submit_time) values(#{semesterCourseId},#{studentId},#{assignmentId},#{text},#{fileUrl},#{score},#{comment},#{submitTime})
	    ]]>
	</insert>
	<delete id="deleteHomework" parameterType="int">
		<![CDATA[
			delete from homework where id=#{id}
		]]>
	</delete>
	<update id="updateHomework" parameterType="buaa.course.model.Homework">
	    <![CDATA[
	    	update homework set semester_course_id=#{semesterCourseId},student_id=#{studentId},assignment_id=#{assignmentId},text=#{text},file_url=#{fileUrl},score=#{score},comment=#{comment},submit_time=#{submitTime} where id=#{id}
	    ]]>
	</update>
	<select id="getAllHomeworks" resultMap="homeworkMap">
	    <![CDATA[
	    	select * from homework
	    ]]>
	</select>
	<select id="countHomeworks" resultType="int">
	    <![CDATA[
	    	select count(*) from homework
	    ]]>
	</select>
	<select id="getHomeworksByRange" resultMap="homeworkMap">
	    <![CDATA[
	    	select * from homework limit #{0},#{1}
	    ]]>
	</select>
	<select id="getHomeworksByAssignmentId" resultMap="homeworkMap">
	    <![CDATA[
	    	select * from homework where assignment_id=#{assignmentId}
	    ]]>
	</select>
</mapper>